
@{
    ViewBag.Title = "Http404";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<div style="margin-top:400px;margin-left:600px">
    <h2><strong>Whoops!</strong></h2>
    <h2>Sorry the page you where looking for was not found - Error Http 404</h2>
    <h2>
        Not to worry though.<br />
        You can go back to the home page by clicking @Html.ActionLink("here", "Home", "Home").<br />
        Or feel free to click on any of the links in the navigation bar
    </h2>
</div>


