
@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

@*<h2>Error</h2>
<h1>Kevins Error</h1>
<h1>Controller - @Model.ControllerName</h1>
<h1>Controller - @Model.ActionName</h1>
<h1>Controller - @Model.Exception</h1>*@


